.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--color-bg);
}

.sidebar {
    width: var(--lnb-width);
    height: 100%;
    border-right: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
}

.main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.history {
    width: var(--rnb-width);
    height: 100%;
    border-left: 1px solid var(--color-border);
    background-color: var(--color-bg-secondary);
}